<html>
 <head>
 <title>Comprar</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <style>
 table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
 }
 form {
 	margin-bottom: 0;
 }
 .produtos-list {
 	padding: 18px;
 }
 .checkbox-list {
	padding: 18px;
    border: 1px solid #343a40;
    border-radius: 5px;
 }
.compras {
    color: #fff;
    background-color: #343a40;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #343a40;
 }
 .compras:hover {
 	color: #343a40;
    background-color: #ffffff;
    text-decoration: none;   
 }
 .adicionar {
 	color: #fff;
    background-color: #28a745;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #28a745;
 }
 .adicionar:hover {
 	color: #28a745;
    background-color: #fff;
    text-decoration: none;   
 }
 .remover {
 	color: #fff;
    background-color: #dc3545;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #dc3545;
 }
 .remover:hover {
 	color: #dc3545;
    background-color: #fff;
    text-decoration: none;   
 }
 </style>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
 </head>
 <body>
	 <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
	     <div class="collapse navbar-collapse" id="navbarText">
	         <ul class="navbar-nav mr-auto">
	             <li class="nav-item active">
	                 <a class="nav-link" href="/persona/index">Voltar <span class="sr-only">(current)</span></a>
	             </li>
	         </ul>
	         <span class="navbar-text">
	      PAPP FILAS
	    </span>
	     </div>
	 </nav>
	 <div class="produtos-list">
		<h3>Usuário</h3>
		<form action="/persona/update" method="POST" modelAttribute="persona">
			<ul class="nav nav-tabs">
			  <li class="nav-item">
			  	<input type="text" class="form-control" name ="id" th:value="${persona.id}" id="id_user" readOnly="true">
			  </li>
			  <li class="nav-item">
			    <input type="text" class="form-control" name ="nome" th:value="${persona.nome}" id="nome_user" readOnly="true">
			  </li>
			  <li class="nav-item">
			    <input type="text" class="form-control" name ="cpf" th:value="${persona.cpf}" id="cpf_user" readOnly="true">
			  </li>
			</ul>
		</form>

		<form action="/personaproduto/insert" method="POST" modelAttribate="listaProdutos">
			
			 <h3>Produtos</h3>
			 <table class="table">
			     <thead class="thead-dark">
			     <tr>
			         <th>ID</th>
			         <th>Nome</th>
			         <th>Preço</th>
			         <th>Comprar</th>
			     </tr>
			     </thead>
			     <tbody>
			         <tr th:each="produto : ${listaProdutos}">
			         	 <td th:text="${produto.id}"></td>
			             <td th:text="${produto.nome}"></td>
			             <td th:text="${produto.valor}"></td>
			             <td th:if="${produto.add}"><a th:href="@{../personaproduto/insertlistaproduto(id=${produto.id}, idPersona=${persona.id}, add=${produto.add})}" class="adicionar">Comprar</a></td>
			             <td th:if="${!produto.add}"><a th:href="@{../personaproduto/insertlistaproduto(id=${produto.id}, add=${produto.add})}" class="remover">Remover</a></td>
			         </tr>
			     </tbody>
			 </table>
		 
		 
			<input class="compras" type="submit" value="Inserir"> 	  		
  		</form>
  		
  	</div>
  	

  	
	</body>
</html>