<html>
 <head>
 <title>Ver todos</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
 <style>
 	.read_list {
 		padding: 15px;
 	}
 </style>
 </head>
 <body>
 <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarText">
   <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
     <a class="nav-link" href="/persona/index">Voltar <span class="sr-only">(current)</span></a>
    </li>
   </ul>
   <span class="navbar-text">
      PAPP FILAS
    </span>
  </div>
 </nav>

 <div class="read_list" th:each="persona : ${listaPeronas}">
  <span th:text="${'ID: ' + persona.id}"></span><br>
  <span th:text="${'Nome: ' + persona.nome}"></span><br>
  <span th:text="${'CPF: ' + persona.cpf}"></span><br>
  <br>
  <br>
 </div>
 </body>
</html>