<html>
 <head>
 <title>Adicionar Produto à Loja</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <style>
 table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
 }
 form {
 	margin-bottom: 0;
 }
 .produtos-list {
 	padding: 18px;
 }
 .checkbox-list {
	padding: 18px;
    border: 1px solid #343a40;
    border-radius: 5px;
 }
 </style>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
 </head>
 <body>
 <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
     <a class="navbar-brand" href="/">Papp Filas</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarText">
         <ul class="navbar-nav mr-auto">
         	 <li class="nav-item active">
                 <a class="nav-link" href="/persona/index">Persona<span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item active">
                 <a class="nav-link" href="/produto/index">Produto<span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item active">
                 <a class="nav-link" href="/loja/index">Lojas</a>
             </li>
         </ul>
         <span class="navbar-text">
            PAPP FILAS
         </span>
     </div>
 </nav>
	 <ul class="nav nav-tabs">
	  <li class="nav-item">
	    <a class="nav-link" href="/loja/insert">Inserir Loja</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/loja/read">Ver Lojas</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/loja/addProduto">Adicionar produtos à Lojas</a>
	  </li>
	</ul>

	<div class="produtos-list">
		<h3>Produtos</h3>
		
		<div class="checkbox-list">
		<form action="/loja/addProduto" method="POST" modelAttribute="listProdutos">
		
			<div th:each="produto : ${listProdutos}">
				<input type="checkbox" id="${produto.id}" name="${produto.nome}" value="${produto.id}" onClick="window.location.assign('/loja/addListProduto/${produto.id&document.getElementById(${produto.id}).checked}')">
		  		<label for="${produto.nome}" th:text="${produto.nome}"></label><br>
			</div>
			
			<input class="btn btn-outline-dark" type="submit" value="Inserir"> 	  		
  		</form>
  		
  	</div>
	</body>
</html>